<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="fy2.me" value="https://nexus.fy2.me:32443/repository/nuget-group/index.json" protocolVersion="3" />
      <!-- <add key="fy2.me" value="https://nexus.fy2.me/repository/nuget-group/index.json" protocolVersion="3" /> -->
  </packageSources>
</configuration>
